@tailwind base;
@tailwind components;
@tailwind utilities;
/*  
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */


/* 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}
 */







/* 


 @layer base {
  :root {
  
    --gradient: #2b5876;

    --background: 217 30.549999999999997% 2.56%;
    --foreground: 217 4.699999999999999% 96.6%;

    --muted: 217 23.5% 9.6%;
    --muted-foreground: 217 4.699999999999999% 53.2%;

    --popover: 217 55.6% 4.16%;
    --popover-foreground: 217 4.699999999999999% 96.6%;

    --card: 217 55.6% 4.16%;
    --card-foreground: 217 4.699999999999999% 96.6%;

    --border: 217 23.5% 9.6%;
    --input: 217 23.5% 9.6%;

    --primary: 217 47% 32%;
    --primary-foreground: 217 4.699999999999999% 96.6%;

    --secondary: 217 23.5% 9.6%;
    --secondary-foreground: 217 4.699999999999999% 96.6%;

    --accent: 217 23.5% 9.6%;
    --accent-foreground: 217 4.699999999999999% 96.6%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 217 4.699999999999999% 96.6%;

    --ring: 217 47% 32%;
  }
}
 */

 /* @layer base {
 
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */
       

    /* CSS: .bg-gradient { background: var(--gradient) } */
    /* --gradient: #65bd60;

    --background: 124 26.65% 4.48%;
    --foreground: 124 4.1% 97.8%;

    --muted: 124 20.5% 16.8%;
    --muted-foreground: 124 4.1% 55.6%;

    --popover: 124 56.8% 7.280000000000001%;
    --popover-foreground: 124 4.1% 97.8%;

    --card: 124 56.8% 7.280000000000001%;
    --card-foreground: 124 4.1% 97.8%;

    --border: 124 20.5% 16.8%;
    --input: 124 20.5% 16.8%;

    --primary: 124 41% 56%;
    --primary-foreground: 124 4.1% 5.6000000000000005%;

    --secondary: 124 20.5% 16.8%;
    --secondary-foreground: 124 4.1% 97.8%;

    --accent: 124 20.5% 16.8%;
    --accent-foreground: 124 4.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 124 4.1% 97.8%;

    --ring: 124 41% 56%;
  }
} */

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
} 

/* 

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
} */



/* 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
} */
/* @layer base {
  :root {
   
    --gradient: linear-gradient(to top left,#a8ff78,#78ffd6);

    --background: 105 65% 5.92%;
    --foreground: 105 10% 98.7%;

    --muted: 105 50% 22.2%;
    --muted-foreground: 105 10% 57.4%;

    --popover: 105 45% 9.62%;
    --popover-foreground: 105 10% 98.7%;

    --card: 105 45% 9.62%;
    --card-foreground: 105 10% 98.7%;

    --border: 105 50% 22.2%;
    --input: 105 50% 22.2%;

    --primary: 105 100% 74%;
    --primary-foreground: 105 10% 7.4%;

    --secondary: 105 50% 22.2%;
    --secondary-foreground: 105 10% 98.7%;

    --accent: 105 50% 22.2%;
    --accent-foreground: 105 10% 98.7%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 105 10% 98.7%;

    --ring: 105 100% 74%;
  }
} */
 

@layer base {
  :root {
    --gradient: #108dc7;

    --background: 211 55.25% 3.36%;
    --foreground: 211 8.5% 97.1%;

    --muted: 211 42.5% 12.6%;
    --muted-foreground: 211 8.5% 54.2%;

    --popover: 211 48% 5.46%;
    --popover-foreground: 211 8.5% 97.1%;

    --card: 211 48% 5.46%;
    --card-foreground: 211 8.5% 97.1%;

    --border: 211 42.5% 12.6%;
    --input: 211 42.5% 12.6%;

    --primary: 211 85% 42%;
    --primary-foreground: 211 8.5% 97.1%;

    --secondary: 211 42.5% 12.6%;
    --secondary-foreground: 211 8.5% 97.1%;

    --accent: 211 42.5% 12.6%;
    --accent-foreground: 211 8.5% 97.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 211 8.5% 97.1%;

    --ring: 211 85% 42%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} 

